.players-circle {
  position: relative;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.player-tile {
  position: absolute;
  width: 140px;
  height: 90px;
  background-color: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.player-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}

.player-list li {
  font-size: 1.2em;
  margin: 5px 0;
}

.player-tile.you {
  border: 3px solid limegreen;
}

.player-tile.other {
  border: 3px solid dodgerblue;
}

.player-tile.eliminated {
  border: 3px solid gray;
}

.healthbar {
  display: flex;
  gap: 4px;
  margin-top: 6px;
}

.hp-segment {
  width: 17px;
  height: 5px;
  border-radius: 2px;
  background-color: gray;
  border: 1px solid #222;
}

.hp-segment.filled {
  background-color: limegreen;
}

.player-declarations {
  display: flex;
  flex-direction: column;
}

.animation-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(1);
  animation: animatePulse 1s ease-out forwards;
  pointer-events: none;
  z-index: 10;
}

/* Specific image modifiers */
.animation-defend {
  background-image: url("../src/assets/defend.png");
}

.animation-shield {
  background-image: url("../src/assets/energy-shield.png");
}

.animation-prowess {
  background-image: url("../src/assets/prowess.png");
}

.animation-heal {
  background-image: url("../src/assets/heal.png");
}

.animation-attack {
  background-image: url("../src/assets/attack.png");
}

.animation-special {
  background-image: url("../src/assets/special.png");
}

.animation-cruelty {
  background-image: url("../src/assets/cruelty.png");
}

@keyframes animatePulse {
  0% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

@media only screen and (max-width: 600px) {
  .players-circle {
    position: relative;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -70px 0 0px 0;
  }
}